<template name="photoList">
    <div class="photo-list">
        {{#each photos}}
            {{> photoThumb}}
        {{/each}}
    </div>
</template>

<template name="photoThumb">
    <div class="photo-thumb" data-id="{{_id}}">
        <div class="photo-thumb-img">{{photoImg "thumb"}}</div>
        {{#if deleteMode}}
            <button class="btn-delete btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
            </button>    
        {{/if}}  
    </div>
</template>