<template name="photoOverlay">
    <div class="photo-overlay-wrap">
        {{> photoOverlayImg}}
        {{> photoOverlayNav}}
        <div class="photo-overlay-shadow"></div>
    </div>
</template>

<template name="photoOverlayImg">
    <div class="photo-overlay">
        {{photoImg "big"}}
    </div>
</template>

<template name="photoOverlayNav">
    {{#if navigation.prev}}
        <div class="photo-overlay-prev">&lt;</div>
    {{/if}}
    {{#if navigation.next}}
        <div class="photo-overlay-next">&gt;</div>
    {{/if}}
</template>