<template name="albumList">
    <div class="album-list">
        {{#each albums}}
            {{> albumThumb}}
        {{/each}}
    </div>
</template>

<template name="albumThumb">
    <div class="album-thumb">
        <a href="{{pathFor 'album'}}" class="album-thumb-content">
            <h3 class="album-thumb-name">{{name}}</h3>
            {{> albumThumbImg thumbImg}}
        </a>
        {{#if deleteMode}}
            <button class="btn-delete btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
            </button>    
        {{/if}}    
    </div>
</template>

<template name="albumThumbImg">
    {{#if photoImg}}{{photoImg "thumb"}}{{/if}}
</template>