<template name="albumList">
    <div class="page-header">
        <h1>Albums</h1>
    </div>
    <div class="album-list">
        {{#each albums}}
            {{> albumThumb}}
        {{/each}}
    </div>
</template>

<template name="albumThumb">
    <div class="album-thumb">
        <a href="{{pathFor 'album'}}" class="album-thumb-content">
            <h3>{{name}}</h3>
            {{> albumThumbImg thumbImg}}
        </a>
        {{#if currentUser}}
            <button>{{i18n "album.delete"}}</button>    
        {{/if}}    
    </div>
</template>

<template name="albumThumbImg">
    {{#if photoImg}}{{photoImg "thumb"}}{{/if}}
</template>