<template name="albumListPage">
    <div class="page-header">
        <h1>Albums</h1>
    </div>
    {{> albumList}}
    {{> albumAdd}}
</template>

<template name="albumList">
    <div class="album-list">
        {{#each albums}}
            {{> albumThumb}}
        {{/each}}
    </div>
</template>

<template name="albumThumb">
    <a href="{{pathFor 'albumPage'}}" class="album-thumb panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{name}}</h3>
        </div>
        <div class="panel-body">
            {{> albumThumbImg thumbImg}}
        </div>
    </a>
</template>

<template name="albumThumbImg">
    {{#if photoImg}}{{photoImg "thumb"}}{{/if}}
</template>