<template name="adminAlbumListActions">
    <button class="btn navbar-btn btn-success">
        <span class="glyphicon glyphicon-plus-sign"></span> {{i18n "admin.albums.add"}}
    </button>
</template>

<template name="adminAlbumActions">
    {{> adminAddImage}}
    {{> adminAddYoutube}}
</template>

<template name="adminAddImage">
    <button class="btn navbar-btn btn-success">
        <span class="glyphicon glyphicon-cloud-upload"></span> {{i18n "admin.photos.add.file"}}
    </button>
    <form class="photo-file-form"  action="#">
        <input type="file" multiple accept="image/*">
    </form> 
</template>

<template name="adminAddYoutube">
    <button class="btn navbar-btn btn-success">
        <span class="glyphicon glyphicon-facetime-video"></span> {{i18n "admin.photos.add.youtube"}}
    </button>
</template>

<template name="adminUploadProgress">
    {{#if total}}
        {{i18n "uploads.progress"}}: {{success}}/{{total}}
    {{/if}}
</template>