<template name="adminAlbumListActions">
    <button class="btn navbar-btn btn-success album-add">
        <span class="glyphicon glyphicon-plus-sign"></span> {{i18n "admin.albums.add"}}
    </button>
    <button class="btn navbar-btn btn-danger album-delete">
        <span class="glyphicon glyphicon-trash"></span> {{i18n "admin.albums.delete"}}
    </button>
</template>

<template name="adminAlbumActions">
    {{> adminAddImage}}
    {{> adminAddYoutube}}
    <button class="btn navbar-btn btn-danger photo-delete">
        <span class="glyphicon glyphicon-trash"></span> {{i18n "admin.photos.delete"}}
    </button>
</template>

<template name="adminAddImage">
    <button class="btn navbar-btn btn-success">
        <span class="glyphicon glyphicon-cloud-upload"></span> {{i18n "admin.photos.add.file"}}
    </button>
    <form class="photo-file-form"  action="#">
        <input type="file" multiple accept="image/*">
    </form> 
</template>

<template name="adminAddYoutube">
    <button class="btn navbar-btn btn-success">
        <span class="glyphicon glyphicon-facetime-video"></span> {{i18n "admin.photos.add.youtube"}}
    </button>
</template>

<template name="adminUploadProgress">
    {{#if stats.pending}}
        <p class="navbar-text upload-progress">{{i18n "uploads.progress"}}: {{stats.pending}}/{{stats.total}}</p>
    {{/if}}
    {{#if stats.error}}
        <p class="navbar-text upload-errors">{{i18n "uploads.errors"}}: {{stats.error}}</p>
    {{/if}}
</template>